#banner 
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper 
      .callout
        %h2 Organize
        %p  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in augue quam. Vestibulum ac lorem egestas, imperdiet tellus eu, viverra metus. Suspendisse vestibulum sodales odio suscipit aliquam. Quisque condimentum lectus lorem, nec lacinia neque luctus eu. Proin ex risus, tempor in enim auctor, cursus convallis odio. Nulla venenatis metus et urna ornare varius. Proin euismod finibus tellus vitae fringilla. Vivamus volutpat ornare interdum. In dapibus, nunc in imperdiet imperdiet, odio ligula posuere mi, et euismod ante dui at libero. Maecenas pellentesque mauris vitae pellentesque dapibus. Curabitur nibh risus, bibendum at elit vel, lacinia tristique est. Donec vitae dolor in est mollis mollis. Cras elementum eu est a consectetur. Etiam malesuada lectus nec ex condimentum accumsan. Proin in orci et sapien cursus posuere. Morbi non mattis massa, vitae feugiat sem.

#booton_cta
  .wrapper 
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path